body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 30px;
}
.Ex-9a {
  background-color: red;
  height: 100px;
  width: 100px;
}

.Ex-9b {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.Ex-9c {
  width: 300px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  padding: 20px 30px;
}

.ex-9d {
  background-color: black;
  color: gray;
  width: 369px;
  padding: 18px;
  height: 84px;
}
.ex-9d-install {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.ex-9d-add {
  margin-top: 10px;
}

.ex-9f-image {
  border-radius: 112px;
  height: 50px;
  width: 50px;
  object-fit: contain;
  vertical-align: middle;
}

.ex-9f {
  border: none;
  box-shadow: 0px 0px 10px #00000091;
  width: 505px;
  height: 54px;
  padding: 10px;
  border-radius: 11px;
  padding-right: 0px;
}

.ex-9f-content {
  opacity: 0.5;
  margin-right: 200px;
  font-weight: bold;
}

.ex-9f-image,
.ex-9f-content {
  display: inline-block;
}

.ex-9f-tweet {
  border: none;
  padding: 4px;
  width: 73px;
  height: 35px;
  border-radius: 21px;
  font-weight: bold;
  background-color: #1da1f2;
  color: white;
}

.ex-9e {
  width: 146px;
  box-shadow: 0 0 10px #000000ab;
}

.ex-9e-img {
  width: 146px;
  height: 146px;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 12px;
}

.friend {
  margin-top: 0;
  margin-bottom: 12px;
}

.ex-9e-button-add {
  margin: 0px;
  width: 104px;
  height: 34px;
  border-radius: 7px;
  border: none;
  background-color: #2e59b2;
  color: white;
}

.ex-9e p {
  margin-left: 5px;
}

.ex-9e button {
  margin-left: 5px;
}

.ex-9g-a,
.ex-9g-b,
.ex-9g-c {
  margin: 0;
  display: inline-block;
  width: 146px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}

.ex-9g p {
  margin-left: 5px;
}

.ex-9g button {
  margin-left: 5px;
}
