@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.front-youtube {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.thumbnail1 {
  width: 100%;
}

.img-author-container,
.detail-container {
  display: inline-block;
  vertical-align: top;
}

.img-author {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.detail-container {
  margin-top: 13px;
  margin-left: 10px;
}

.video-title {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
}

.video-author {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 13px;
}

.video-stats {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  font-size: 13px;
}
